:root{
    --title-color: #2196F3;
    --secondary-title-color: #212121;
    --main-background-color: #FFF;
    --secondary-background-color: #2F303A;
    --text-color: #212121;
    --secondary-text-color: #FFFFFF99;
    --theird-text-color: #757575; 
    --theird-background-color: #F5F4FA;
}



/* Header */
/*Title/Link/Logo*/
.logo{
    font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
color: var(--text-color);
}

.logo span{
    color: var(--title-color);
}

 .logo{
    list-style: none;
    text-decoration: none;
 }

/* Links */
.link{
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
}

.link:hover,.link:focus{
    color: var(--title-color);
}
/* Body */
body{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
/* Buttons */
.button{
    background-color: var(--title-color);
    color: var(--main-background-color);
    border: transparent;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.buttons{
    color: var(--text-color);
    border: transparent;
    text-align: center;
    background-color: var(--theird-background-color);
}

.buttons:hover,.buttons:focus{
    background-color: var(--title-color);
    color: var(--main-background-color);
}

/* List Team */
.team{
    background-color: var(--theird-background-color);
}

.team p{
    color: var(--theird-text-color);
}
/* Main Title Studio */
h1{
    text-align: center;
    color: var(--main-background-color);
    font-weight: 900;
    font-size: 44px;
}

.background{
    background-color: var(--secondary-background-color);
    width: 1300px;
    height: 160px;
}

/* List */
.nav{
    text-align: center;
}

ul{
    list-style: none;
    text-decoration: none;
}

ol p{
    color: var(--theird-text-color);
}

ul p{
    color: var(--theird-text-color);
}

ol{
    list-style: none;
    text-decoration: none; 
}

/* Footer */
footer{
    background-color: var(--secondary-background-color);
    color: var(--theird-text-color);
}

footer .logo{
    color: var(--main-background-color);
}

footer .Kyiv{
    color: var(--main-background-color);
}

.footer-address{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}