:root{
    --title-color: #2196F3;
    --secondary-title-color: #212121;
    --main-background-color: #FFF;
    --secondary-background-color: #2F303A;
    --text-color: #212121;
    --secondary-text-color: #FFFFFF99;
    --theird-text-color: #757575; 
    --theird-background-color: #F5F4FA;
}



/* Header */
.logo{
    font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
}

.logo span{
    color: var(--title-color);
}

a{
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
}

a:hover,a:focus{
    color: var(--title-color);
}

body{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.button{
    background-color: var(--title-color);
    color: var(--main-background-color);
    border: transparent;
    border-radius: 4px;
    text-align: center;
font-size: 16px;
font-weight: 700;
}

.buttons{
    color: var(--text-color);
    border: transparent;
    text-align: center;
    background-color: var(--theird-background-color);
}

.buttons:hover,.buttons:focus{
    background-color: var(--title-color);
    color: var(--main-background-color);
}

.team{
    background-color: var(--theird-background-color);
}

.team p{
    color: var(--theird-text-color);
}

h1{
    text-align: center;
    color: var(--main-background-color);
font-weight: 900;
font-size: 44px;
}

ul{
    list-style: none;
    text-decoration: none;
}

ol p{
    color: var(--theird-text-color);
}

ul p{
    color: var(--theird-text-color);
}


ol{
    list-style: none;
    text-decoration: none; 
}

.nav{
    text-align: center;
}

.background{
    background-color: var(--secondary-background-color);
    width: 1300px;
    height: 160px;
}
/* Footer */
.footer{
    background-color: var(--secondary-background-color);
    font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
}

.address{
    color: var(--main-background-color);
    font-family: Roboto;
font-style: normal;
font-weight: 400;
}

.mail{
    color: var(--secondary-text-color)
    font-family: Roboto;
font-style: normal;
font-weight: 400;
}

.phone-number{
    color: var(--secondary-text-color)
    font-family: Roboto;
font-style: normal;
font-weight: 400;
}
