
:root{
    --title-color: #2196F3;
    --secondary-title-color: #212121;
    --main-background-color: #FFF;
    --secondary-background-color: #2F303A;
    --text-color: #212121;
    --secondary-text-color: #FFFFFF99;
    --theird-text-color: #757575; 
    --theird-background-color: #F5F4FA;
}


/* Body */
body{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

ul,p,h1,h2,h3{
    margin: 0;
    padding: 0;
}

ul{
    text-decoration: none;
    list-style: none;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*Title/Link/Logo*/
.logo{
    font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
color: var(--text-color);
list-style: none;
text-decoration: none;
margin-right: 93px;
}

.logo span{
    color: var(--title-color);
}

.header-container{
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 50px;
}

.contacts{
    margin-left: 342px;
    display: flex;
    gap: 50px;
    display: block;
}

/* Links */
.link{
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
}

.link:hover, .link:focus{
    color: var(--title-color);
}

/* Svg */
.icons{
    width: 16px;
height: 12px;
margin-right: 10px;
}

.icons:hover, .icons:focus{
    fill: var(--title-color);
}

/* Buttons */
.button{
    background-color: var(--title-color);
    color: var(--main-background-color);
    border: transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    width: 216px;
    height: 50px;
    letter-spacing: 0.96px;
}

.buttons{
    color: var(--text-color);
    background-color: var(--theird-background-color);
    border: transparent;
    text-align: center;
    border-radius: 4px;
}

.buttons:hover,.buttons:focus{
    background-color: var(--title-color);
    color: var(--main-background-color);
}

/* Serv-Section */
.serv-section{
    padding-bottom: 118px;
    padding-top: 94px;
}

.serv-list{
    display: flex;
    gap: 30px;
}

.serv-item{
    display: block;
    height: 100px;
}

/* What-we-do Section */
.what-we-do{
    padding-bottom: 188px;
}

.what-we-do-list{
    display: flex;
    gap: 30px;
}

/* Team List */
.team .container{
    background-color: var(--theird-background-color);
    margin-bottom: 154px;
}

.team-section{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.our-team{
    margin-bottom: 50px;
}

.team-text{
    text-align: center;
}

.team-toptext{
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-undertext{
    color: var(--theird-text-color);
    margin-bottom: 30px;
}

/* Main Title/Text */
.main-title{
    color: var(--main-background-color);
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.main-text{
    background-color: var(--secondary-background-color);
    text-align: center;
    height: 600px;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

/* Lists */
.nav{
    display: flex; 
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
    gap: 8px;
}

.serv-list{
    list-style: none;
    text-decoration: none;
}
.serv-list .serv-text{
    color: var(--theird-text-color);
}

/* Work Section */
.work-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 154px;
}

.work-item{
    flex-basis: calc((100% - 60px) / 3);
}

.work-text{
    margin-left: 24px;
    margin-right: 24px;
}

.work-toptext{
    margin-top: 20px;
}

.work-undertext{
    margin-bottom: 20px;
}

/* Footer */
footer{
    background-color: var(--secondary-background-color);
    color: var(--theird-text-color);
}

footer .logo,footer .kyiv{
    color: var(--main-background-color);
}

footer .logo{
    display: block;
    padding-top: 60px;
}

footer .kyiv{
    padding-bottom: 10px;
}

.phone{
    padding-top: 10px;
    padding-bottom: 60px;
}

footer .footer-address{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 20px;
}

/* Advantages */
.advantege-icon{
    width: 270px;
height: 120px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 4px;
background: #F5F4FA;
}

/* Our team */
.social-icons{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: 32px;
    margin-right: 32px;
}

.social-icon{
    width: 20px;
height: 20px;
fill: currentColor;
}

.icon-link{
    width: 44px;
height: 44px;
flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--theird-text-color);
}

.icon-link:hover{
    color: #F5F4FA;
    background-color: var(--title-color);
    border-radius: 50%;
}

.clients{
    display: flex;
    gap: 94px;
    margin-left: 215px;
    margin-right: 215px;
    margin-bottom: 110px;
    margin-top: 66px;
    color: var(--theird-text-color);
}

.brand{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
height: 92px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #AFB1B8;
color: var(--theird-text-color);
}

.brand-icon{
    width: 106px;
height: 60px;
fill: currentColor;
}

.brand:hover, .brand:focus{
    color: var(--title-color);
border: 1px solid #2196F3;
}

.footer-icons{
    display: inline-flex;
    gap: 10px;
    border: var(--secondary-text-color);
}

.position{
    position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.label{
    position: absolute;
    bottom: 2px;
    right: 0;
    left: 0;
    margin: 0;
    padding: 8px 16px;
    border-bottom-left-radius: 4px;
text-align: center;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
    color: #FFF;
    background: rgba(47, 48, 58, 0.80);
}


.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.871);
}

.model{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 21px 50px 35px 15px rgb(10, 0, 0),
    10px 30px 5px 10px rgb(161, 19, 19);
    width: 600px;
    height: 400px;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}