.advantege-icon{
    width: 270px;
height: 120px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 4px;
background: #F5F4FA;
}

.clients{
    display: flex;
    gap: 94px;
    margin-left: 215px;
    margin-right: 215px;
    margin-bottom: 110px;
    margin-top: 66px;
    color: var(--theird-text-color);
    @media screen and (min-width: $mobile){
        flex-wrap: wrap;
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 60px;
        // flex-basis: calc((100% - 430px) / 2);
        
    @media screen and (min-width: $desktop){
        flex-wrap: nowrap;
    }
    }
}
