footer{
    background-color: var(--secondary-background-color);
    color: var(--theird-text-color);
}

footer .logo,footer .kyiv{
    color: var(--main-background-color);
}

footer .logo{
    display: block;
    padding-top: 60px;
}

footer .kyiv{
    padding-bottom: 10px;
}

footer .phone{
    padding-top: 10px;
    padding-bottom: 60px;
}

footer .footer-address{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 20px;
}

.form-message::placeholder{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3%;
    vertical-align: middle;
    width: 47px;
height: 20px;
top: 1751px;
left: 831px;
padding-left: 16px;
}

footer{
    @media screen and (max-width: 481px){
        width: $mobile;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.footer-model{
    display: flex;
    gap: 28px;
    justify-content: center;
        @media screen and (max-width: 481px){
        width: $mobile;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

footer .button{
    margin: 0;
}
