.logo{
    font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
color: var(--text-color);
list-style: none;
text-decoration: none;
margin-right: 93px;
}

.logo span{
    color: var(--title-color);
}

.header-container{
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 50px;
}

.nav{
    display: flex; 
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
    gap: 8px;
}

// mobile

.header{
@media screen and (max-width: $mobile){
    width: $mobile;
}
}

.nav-list{
    @media screen and (max-width: $mobile){
        display: none;
    }
}

.contacts{
    @media screen and (max-width: $mobile){
        display: none;
    }
}

// tablet

.header{
    @media screen and (max-width: $tablet){
        width: $tablet;
    }
}
    
.nav-list{
        @media screen and (max-width: $tablet){
            width: $tablet;
        }
}
    
.header .contacts{
        @media screen and (max-width: $tablet){
            display: block;
            margin: 0;
            padding: 0;
        }
}