.logo{
    font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
color: var(--text-color);
list-style: none;
text-decoration: none;
margin-right: 93px;
}

.logo span{
    color: var(--title-color);
}

.header-container{
    display: flex;
    gap: 25px;
    align-items: center;
@media screen and (min-width: $tablet){
    justify-content: space-between;
    padding: 16px 0;
    }
}

.nav-list{
    display: flex;
    gap: 50px;
}

.nav{
    display: flex; 
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
    gap: 8px;
}

.nav-list{
    @media screen and (min-width: $tablet){
        margin: 0;
        padding: 0;
    }
    @media screen and (max-width: 767px){
font-size: 40px;
line-height: 100%;
letter-spacing: 2%;
    }
}

.header .contacts{
    margin: 0;
    padding: 0;

    @media screen and (min-width: $tablet){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    @media screen and (min-width: $desktop){
        flex-direction: row;
    }
}

.header .link{
    @media screen and (min-width: $tablet){
        padding: 0;
}

@media screen and (max-width: 767px){
    margin: 0;
    padding: 0;
}
}

.header{
    @media screen and (max-width: 767px){
        position: relative;
    }
}

.menu{
    @media screen and (max-width: 767px){
        position: absolute;
        background-color: rgb(255, 255, 255);
        top: 10px;
        left: 10px;
        width: 480px;
        height: 796px;
        padding: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .icons{
    @media screen and (max-width: 767px){
        display: none;
    }
    }

    .contacts{
    @media screen and (max-width: 767px){
font-size: 34px;
line-height: 100%;
letter-spacing: 2%;
    }
    }

    .contacts .link:not(:last-child) .link{
    @media screen and (max-width: 767px){
        color: #757575;
            }
    }

    .contacts .link:last-child .link{
    @media screen and (max-width: 767px){
        color: #2196F3;
            }
    }

    .nav-list{ 
        @media screen and (max-width: 767px){
            display: block;
        }
    }

    .nav-list .link-list:not(:last-child){
        margin-bottom: 35px;
    }

    .nav-list .link-list:first-child .link{ 
        @media screen and (max-width: 767px){
        color: #2196F3;
            }
    }

    .second-social-icon{
        margin-top: 32px;
    }

    .second-social-icon:hover{
        color: aqua;

    }

    .social-list{
        @media screen and (max-width: 767px){
            display: flex;
            justify-content: space-around;
        }
    }
}