.logo{
    font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
color: var(--text-color);
list-style: none;
text-decoration: none;
}

.logo span{
    color: var(--title-color);
}

.header-container{
@media screen and (min-width: $tablet){
    justify-content: space-between;
    padding: 16px 0;
    display: flex;
    align-items: center;
    }
    @media screen and (max-width: 767px){
        padding: 10px 0;
    }
}

.nav-list{
    display: flex;
    gap: 50px;
}

.nav{
    display: flex; 
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
    gap: 8px;
}

.nav-list{
    @media screen and (min-width: $tablet){
        margin: 0;
        padding: 0;
    }
    @media screen and (max-width: 767px){
font-size: 40px;
line-height: 100%;
letter-spacing: 2%;
    }
}

.header .contacts{
    margin: 0;
    padding: 0;

    @media screen and (min-width: $desktop){
        flex-direction: row;
    }
}

.header .link{
    @media screen and (min-width: $tablet){
        padding: 0;
}

@media screen and (max-width: 767px){
    margin: 0;
    padding: 0;
}
}

.header{
    @media screen and (max-width: 767px){
        position: relative;
    }
}

.first-social-icon{
    @media screen and (min-width: $tablet){
        margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop){
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.menu{
    &.is-open{
        display: flex;
    }

    @media screen and (max-width: 767px){
        position: absolute;
        background-color: rgb(255, 255, 255);
        top: 10px;
        left: 10px;
        width: 480px;
        height: 796px;
        padding: 48px;
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    @media screen and (min-width: $tablet){
        display: flex;
        gap: 106px;
        align-items: center;
    }

    .icons{
    @media screen and (max-width: 767px){
        display: none;
    }
    }

    .contacts{
    @media screen and (max-width: 767px){
font-size: 34px;
line-height: 100%;
letter-spacing: 2%;
    }
    
    @media screen and (min-width: $desktop){
        display: flex;
    }
    }

    .contacts .link:not(:last-child) .link{
    @media screen and (max-width: 767px){
        color: #757575;
            }
    }

    .contacts .link:last-child .link{
    @media screen and (max-width: 767px){
        color: #2196F3;
            }
    }

    .nav-list{ 
        @media screen and (max-width: 767px){
            display: block;
        }
    }

    .nav-list .link-list:first-child .link{ 
        @media screen and (max-width: 767px){
        color: #2196F3;
            }
    }

    .second-social-icon:hover{
        color: aqua;

    }

    .social-list{
        @media screen and (max-width: 767px){
            display: flex;
            justify-content: space-around;
        }
        @media screen and (min-width: $tablet){
            display: none;
        }
    }

    .social-list .link{
    @media screen and (max-width: 767px){
        color: #2196F3;
font-size: 18px;
line-height: 22px;
letter-spacing: 2%;
    }
}
}

.menu-button{
    display: flex;
    justify-content: end;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    border: none;
    background-color: transparent;
    padding: 10px;
    @media screen and (min-width: $tablet){
        display: none;
    }
}

.menu-button.is-open{
    border: 1px solid #0000001A;
    border-radius: 50%;
}

.menu-button.is-open .icon-open{
    display: none;
}

.menu-button .icon-open{
    display: block;
}

.menu-button.is-open .icon-close{
    display: block;
}

.menu-button .icon-close{
    display: none;
}