.main-title{
    color: var(--main-background-color);
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.main{
    background-color: var(--secondary-background-color);
    text-align: center;
    height: 600px;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.backdrop{
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.model{
    position: absolute;
    justify-content: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1000px 100px rgb(171, 171, 171), 10px 10px 50px 50px rgb(0, 0, 0);
    width: 528px;
height: 581px;
padding: 40px;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.icon-close{
    height: 18px;
    width: 18px;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
}

.close{
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    border: transparent;
    display: flex;
    padding: 8px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form .list{
    margin-bottom: 20px;
}

.bold{
    color: var(--text-color);
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 10px;
}

.field{
    width: 448px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
outline: none;
padding-left: 42px;
}

.form .item{
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--text-color);
}

.form .item:not(:last-child){
    margin-bottom: 10px;
}

.form-label{
    text-align: start;
    margin-bottom: 4px;
    color: var(--theird-text-color);
font-size: 12px;
letter-spacing: 0.12px;
}

.textarea{
    width: 448px;
    height: 120px;
    flex-shrink: 0;
resize: none;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
padding: 12px 16px;
outline: none;
}

textarea::placeholder{
    color: rgba(117, 117, 117, 0.50);
font-size: 12px;
line-height: normal;
letter-spacing: 0.12px;
}

.form .item:focus-within .form-label{
    color: var(--title-color); 
}


.form .item:focus-within .form-icon{
    color: var(--title-color); 
}

.field:hover{
    border: var(--title-color);
    border-radius: 4px;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.form-icon{
    width: 18px;
height: 18px;
flex-shrink: 0;
fill: currentColor;
position: absolute;
left: 12px;
bottom: 11px;
}

.conditions{
    color: var(--title-color);
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-skip-ink: none;
}

.form-link{
    width: 400px;
height: 24px;
flex-shrink: 0;
color: var(--theird-text-color);
line-height: 24px;
letter-spacing: 0.42px;
}

.form .button{
    margin: 0;
    margin: auto;
}

.group{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-subject{
    color: var(--primary-text-color);
font-weight: 700;
letter-spacing: -0.35px;
width: 457px;
height: 53px;
flex-shrink: 0;
color: #BBB;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.35px;
text-transform: uppercase;
}

.form-message{
    width: 358px;
    height: 50px;
    top: 1736px;
    left: 815px;
    border-radius: 4px;
    border-width: 1px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main .container{
    @media screen and (min-width: $mobile){
        width: $mobile;
        margin: 0;
        padding: 0;
    }
}

.main .main-title{
    @media screen and (min-width: $mobile){
        width: 330px;
        display: block;
font-size: 26px;
text-transform: uppercase;
    }
}

.main .container{
    @media screen and (min-width: $tablet){
        width: $tablet;
        margin: 0;
        padding: 0;
    }
}

.main .main-title{
    @media screen and (min-width: $tablet){
        width: 500px;
    }
}