.what-we-do{
    padding-bottom: 188px;
}

.what-we-do-list{
    display: flex;
    gap: 30px;
}

.position{
    position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.what-we-do .contacts{
    margin-left: 342px;
    display: flex;
    gap: 50px;
}

.what-we-do{
    @media screen and (min-width: $mobile){
        display: none;
}
}

.what-we-do{
    @media screen and (min-width: $tablet){
        display: none;
}
}